---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";
import Email from "../icons/Email.astro";
import Experiencie from "../components/Experiencie.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../icons/Briefcase.astro";
---

<Layout
  title="Portafolio de Diegojq - Desarrollador y programador Web con 5 meses de experiencia."
  description="contrata a Diego Jimenez para crear tu aplicación web o móvil. Desarrollador web. Especializado en crear aplicaciones únicas"
>
  <main>
    <SectionContainer class="py-16">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4">
        Hey, soy Diego jimenez <div class="flex items-center">
          <a class="flex" href="https://www.linkedin.com/in/diegojq/"
            ><Badge>Disponible para trabajar</Badge></a
          >
        </div>
      </h1>
      <h2 class="text-xl opacity-80 mt-3 text-wrap">
        <span> 6 meses de experiencia.</span>
        <span class="opacity-80 text-yellow-200/90">Desarrollador Web.</span>
        <span class="text-red-100/90">De Medellin, Colombia.</span>
        <span class="opacity-75"
          >especializado en crear aplicaciones unicas</span
        >
      </h2>
      <nav class="flex gap-x-4 mt-4">
        <SocialPill href="https://www.linkedin.com/in/diegojq/">
          <Linkedin class="size-6 pr-2" />linkedin</SocialPill
        >

        <SocialPill href="https://github.com/Diegojq">
          <Github class="size-6 pr-2" />Github</SocialPill
        >

        <SocialPill href="https://github.com/Diegojq">
          <Email class="size-6 pr-2" />dajqprogramming@gmail.com</SocialPill
        >
      </nav>
    </SectionContainer>
    <SectionContainer>
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2">
        <Briefcase class="size-8"/>
        Experiencia laboral</h2>
      <Experiencie/>
    </SectionContainer>
  </main>
</Layout>

<style></style>
