---
import ProjectCard from "./ProjectCard.astro";

const CARDS =[
{
    img:"/public/DevFinder.png",
    title:"Dev finder",
    languageUno:"html",
    languageDos:"css ",
    languageTres:"js",
    description:"Este proyecto es un buscador de perfiles de GitHub que permite a los usuarios buscar y visualizar perfiles de otros usuarios de GitHub. Los usuarios pueden ingresar el nombre de usuario de GitHub de la persona que desean buscar y obtener información detallada sobre ese perfil.",
    vercel:"https://dev-finder-diegojq.vercel.app/",
    github:"https://github.com/Diegojq/dev-finder",

},
{
    img:"/public/SocialLinks.png",
    title:"social links profile",
    languageUno:"html",
    languageDos:"css ",
    languageTres:"js",
    description:"este es un proyecto para compartir todos tus perfiles sociales. El cual te permite ingreasr a todas tus redes sociales",
    vercel:"https://social-links-nine.vercel.app/",
    github:"https://github.com/Diegojq/social-links",

},
{
    img:"/public/AgeCalculator.png",
    title:"age calculator",
    languageUno:"html",
    languageDos:"css ",
    languageTres:"js",
    description:"Este proyecto es una calculadora de edad que permite al usuario ingresar su fecha de nacimiento y devuelve su edad en años, meses y días.",
    vercel:"https://new-age-ten.vercel.app/",
    github:"https://github.com/Diegojq/age-calculator",

}

]
---


<div class="flex gap-2">
    {
        CARDS.map(cards =>(
            <ProjectCard {...cards}/>
        ))
    }
</div>