---
import ExperiencieItem from "./ExperiencieItem.astro";

const EXPERIENCIE = [
  {
    date: "Actualmente",
    title: "Desarollador frontend",
    description: "descripcion de experiencia",
    link: "#",
  },

  {
    date: "septiembre 2023",
    title: "Principal Frontend Engineer",
    description: " descripcion de experiencia experiencia",
    link: "#",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperiencieItem {...experiencie} />
      </li>
    ))
  }
</ol>
