<footer class="flex gap-6">
  <div>
    <p>
      Mi nombre es Diego Jimenez. <span class="opacity-90 text-yellow-200/90"
        >Comencé a interesarme por la programación a la edad de 12 años</span
      >, y desde entonces he estado explorando este fascinante mundo.
      Actualmente, sigo aprendiendo y desarrollándome en Platzi. Al principio,
      no estaba seguro de si la programación era lo mío, pero <span
        class="opacity-90 text-yellow-200/90"
        >con el paso de los días y la práctica constante, me enamoré por
        completo de ella.</span
      >
    </p>
  </div>
  <img
    class="rounded-full size-44 shadow"
    src="https://avatars.githubusercontent.com/u/137741139?v=4"
    alt="profile photo"
  />
</footer>
